<footer class="section pb-0">
  <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-10">

            {{ if site.Params.social }}
            <ul class="list-inline social-icons">
                {{ range site.Params.social }}
                <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li><li class="list-inline-item">{{ .title }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="col-md-3 col-sm-6 mb-10"/>
        <div class="col-md-3 col-sm-6 mb-10"/>
        <div class="col-md-3 col-sm-6 mb-10">
            <a href="https://www.redhat.com/" target="_blank"><img  width="250px" src="{{ site.BaseURL }}/images/Logo-Red_Hat-Sponsored_By-A-Standard-RGB.png"></a>
        </div>
    </div>
    <!--<div class="border-top border-default text-center py-4 mt-4">
      <small class="content">{{ site.Params.Copyright | markdownify }}</small>
    </div>-->
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>